@import "../mixins/text_glitch.scss";
@import "./modal.scss";
@import "./profile_dropdown.scss";
@import "./search_bar.scss";

.navbar{
  font-family: $sans-serif;
  display: flex;
  flex-basis: content;
  background-color: $purple;
  color: $white;
  align-items: center;
  font-size: 14px;
  height: 50px;
  box-sizing:border-box;
  a, a:visited{
    display: flex;
    flex-basis: content;
    height: 50px;
    text-decoration: none;
    align-items: center;
    color: $light-grey;
  }
  a:hover, button:hover{
    color: $white;
  }
  a.logo{
    display: inline-block;
    width: 50px;
    height: 50px;
    font-size: 25px;
    padding: 0px;
    position: relative;
  }
  a.logo i:nth-child(n+2){
    display:none;
  }
  a.logo:hover i:nth-child(n+2){
    display:inline;
  }
  a.logo:hover{
    @include iGlitch("base", 17, 25, 25, 10, 12.5);
  }
  .logo .baselogo{
    display: inline-block;
    position: absolute;
    width: 25px;
    height: 25px;
    top: 10px;
    left: 12.5px;
    color: $white;
  }
  
  > *{
    padding: 10px;
    padding-top: 11px;
    box-sizing: border-box;
    border-bottom: 2px solid transparent;
  }
  
  .logo div{
    display: inline-block;
    width: 50px;
    height: 50px;
  }
  a, button{
    text-align: center;
  }
  button{
    font-size: 12px;
    padding: 7px 8px;
    margin-right: 10px;
    border-radius: 3px;
    border: 1px solid transparent;
    vertical-align: baseline;
    cursor: pointer;
  }
  .login-btn, .logout-btn{
    border: 1px solid $white;
  }
  button.profile-btn{
    font-size: 16px;
    margin-left: 0px;
    margin-right: 10px;
    width: 38px;
    height: 30px;
    padding: 0px 3px 0px 0px;
    position: relative;
    display: inline-block;
  }
  button.profile-btn i{
    padding: 7px 0px;
  }
  button.profile-btn i:nth-child(n+2){
    display:none;
  }
  button.profile-btn:hover i:nth-child(n+2){
    display:inline;
  }
  
  button.profile-btn img{
    width: 24px;
    height: 24px;
    padding: 3px;
  }
  button.profile-btn img:nth-child(n+2){
    display:none;
  }
  button.profile-btn:hover img:nth-child(n+2){
    display:inline;
  }
  button.img-glitch:hover{
    @include imgGlitch("profile", 17, 30, 30, 0, 0);
  }
  button.i-glitch:hover{
    @include iGlitch("profile-i", 17, 20, 20, 0, 10);
  }
  
  
  button:hover{
    background-color: $light-purple;
  }
  
  a.active{
    color: $white;
    border-bottom: 2px solid $white;
  }
  .spacer{
    flex-grow:1;
  }
}


 