.user-video-show{
  display: flex;
  flex-direction: column;
  align-items: stretch;
  flex-grow: 1;
  color: $black;
  margin: 20px;
  font-family: $sans-serif;
  font-size: 16px;
  border-radius:5px;
  box-shadow: 0 14px 20px 8px rgba(0,0,0,.1),
              0 10px 22px -8px rgba(0,0,0,.02),
              0 8px 38px 0 rgba(0,0,0,.04);

  #video-player{
    width: 100%;
    height: auto;
    max-height: 60vh;
    background-color: $black;
  }
  .top-bar{
    display: flex;
    flex-direction: row;
    background-color: $darker-purple;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    height: 50px;
    color: $white;
    font-size: 16px;
    justify-content: flex-start;
    align-items: flex-start;
    a{
      display: flex;
      flex-direction: row;
      color: $white;
      font-family: $sans-serif;
      font-size: 17px;
      text-decoration: none;
      align-items: flex-start;
      padding-left: 10px;
      img{
        width: 36px;
        height: 36px;
        background-color: $darker-purple;
        padding: 7px 10px 5px 10px;
        border-bottom: 2px solid transparent;
      }
      .watching{
        display: flex;
        padding-top: 15px;
        border-bottom: .5px solid transparent;
      }
      .username{
        color: $light-grey;
        margin-left: 7px;
      }
    }
    a:visited{
      color: $white;
    }
    
    a:hover{
      img{
        padding-bottom: 3px;
        border-bottom: 2px solid $light-grey;
        transition: border-bottom-color .5s ease-in-out;
      }
      .watching{
        border-bottom: .1px solid $purple;
      }
    }

  }
  .bottom-bar{
    background-color: $darker-purple;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    color: $white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding: 10px 20px;
    a{
      border: 1px solid $white;
      border-radius: 5px;
      padding: 7px 10px;
      font-size: 14px;
    }
    a:hover{
      color: $offwhite;
      border-color: $offwhite;
      background-color: $darker-purple;
    }
    a:active, a:focus{
      background-color: $purple-glow;
      box-shadow: $purple-glow 0px 0px 10px -1px;
    }
    span{
      color: $white;
      align-self: center;
      padding: 10px;
    }
    .follow-button{
      background-color: $darker-purple;
      border-radius: 5px;
      border: 1px solid $white;
      color: $white;
      align-self: center;
      padding: 7px 10px;
      font-size: 14px;
      i{
        margin-right: 5px;
      }
    }
    .follow-button:hover{
      color: $offwhite;
      border-color: $offwhite;
    }
    .follow-button:active, .follow-button:focus{
      background-color: $darker-purple;
      border: 1px solid $purple;
      box-shadow: $purple-glow 0px 0px 10px -1px;
    }
    .follow-button:disabled{
      background-color: $darker-purple;
      color: $muted-purple;
      cursor:not-allowed;
    }
  }
  .video-info{
    display: flex;
    padding: 10px 20px;
    font-size: 16px;
    font-family: $sans-serif;
    .title{
      padding: 10px;
    }
    .date{
      padding: 10px;
    }
  }
}