$purple: #6441a4; //nav
$dark-purple: #503483; //search-bar
$darker-purple: #392e5c; //stream-title
$darkest-purple: #19171c; //sidebar
$light-purple: #6c4ba9; //navbutton
$purple-glow: #7b5db2; //search-box-shadow
$offwhite: #dad8de; //search
$white: #ffffff; //nav
$light-grey: #d1c6e4; //nav-links
$grey: #efeef1;
$dark-grey: #6c647a; //search-icon
$light-black: #322f37; //chat