.index-container{
  display: flex;
  flex-basis: content;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  padding: 20px;
  font-family: $sans-serif;
  font-size: 15px;
  color: $black;
  box-sizing:border-box;
  h2{
    font-size:  18px;
    margin-bottom: 20px;
    padding-top: 20px;
  }
  ul{
    display: flex;
    flex-basis:content;
    flex-wrap: wrap;
    flex-shrink: 0;
    height: auto;
    list-style: none;
    padding: 0px 20px;
    box-sizing:border-box;
    .no-videos{
      padding: 10px;
    }
    li{
      height: auto;
      a, a:visited, a:hover, a:active, a:focus{
        color: $black;
        text-decoration: none;
      }
      a:hover{
        cursor: pointer;
      }
      a{
        position: relative;
        display: flex;
        flex-basis:content;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        margin: 10px;
        padding-bottom: 5px;
        border: 1px solid $offwhite;
        box-shadow: 0 0px 10px -1px rgba(0,0,0,.1);
        img{
          width: 300px;
          height: calc(9*300px/16);
          object-fit: cover;
          border-radius: 3px;
          background-color: $purple;
          margin-bottom: 5px;
        }
        span{
          color: $muted-purple;
          font-size: 15px;
          padding: 5px 10px;
        }
        .video-index-description{
          display: none;
          position: absolute;
          top: 0px;
          bottom: 0px;
          left: 0px;
          right: 0px;
        }
      }
      a:hover{
        .video-index-description{
          display: flex;
          justify-content: center;
          align-items: flex-start;
          border-radius: 3px;
          background-color: $black;
          color: $white;
          padding: 20px;
          opacity: .66;
          box-shadow: $purple-glow 0px 0px 10px -1px;
          animation: index-hover-effect .5s 1;
          box-sizing:border-box;
          border: 1px solid $purple;
        }
      }
    }
  }
}
.index-container.hidden{
  display: none;
}
@keyframes index-hover-effect{
  from {
    opacity: 0;
    box-shadow: none;
  }
  to {
    opacity: .66;
    box-shadow: $purple-glow 0px 0px 10px -1px;
  }
}

.index-container::-webkit-scrollbar {
  background-color:#ffffff;
  height:8px; 
  width: 8px;
}
.index-container::-webkit-scrollbar-track {
  background-color:#ffffff;
}
.index-container::-webkit-scrollbar-thumb {
  background-color: $light-grey;
  border-radius:8px
}
.index-container::-webkit-scrollbar-thumb:hover {
  background-color: $purple-glow;
}